
<div class="header-dashboard-submenu hidden-xs">
        <div class="wrapper">
                <ul class="desktop-only">
                        <li><a href="#" class="dashboard-header-link current">Tableau de bord</a></li>
                        <li><a href="#" class="dashboard-header-link ">Mes demandes de cours</a></li>
                </ul>
        </div>
</div>
