{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Ajout d'un cours - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Ajout d'un cours</h1>
  
  {% include 'LGPUserBundle:Cours:formulaire.html.twig' %}
  
{% endblock %}