{% extends 'LGPUserBundle::layout.html.twig' %}

{% block title %}
    500 - {{ parent() }}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="content-wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1>Oups erreur 500 !!! <small> Une erreur est survenue sur le serveur !!!</small></h1>
                </div>
            </div>

        </div>

    </div>

{% endblock fos_user_content %}