/nbproject/private/
# Pas de fichier temporaire
**~
/var/**
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
