{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    paiement - {{ parent() }}
{% endblock %}

{% block header_submenu %}
    {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}

    <div class="bg-grey dashboard">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}