{% extends 'LGPCoreBundle::layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {# On definit ce block, dans lequel vont venir s'inserer les autres vues du bundle #}
            {% block fos_user_content %}

            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}
