{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.CVFile is not null %}
        (<a href="{{ asset(object.CVFile.webPath) }}" target="blank">Voir le CV</a>)
    {% endif %}
{% endblock %}
