{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    (<a href="{{ "../../../../uploads/cv/" ~ object.CVFile.fileName }}" target="blank">Voir le CV</a>)
{% endblock %}
