{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% for diplome in object.diplomes %}
        {% if diplome.fileName is not null %}
            (<a href="{{ asset(diplome.webPath) }}" target="blank">{{ diplome.intitule }}</a>)
        {% endif %}
    {% endfor %}
{% endblock %}
