<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Hello la team !</h1>
      <p>
        J'ai abrégé le name du projet en <b>LGP</b> pour LeGrandProf.
      </p>
    </div>
  </body>
</html>
