{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Signaler une indisponibilité - {{ parent() }}
{% endblock %}

{% block header_submenu %} 
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}
    
    
  <div class="bg-grey dashboard">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-block-dash">Gérer mes indisponibilités</h3>
            <ul class="menu-dash">
              <li><a href="{{ path('lgp_user_prof_indisponibilite') }}">Mes indisponibilités</a></li>
              <li><a href="{{ path('lgp_user_prof_indisponibilite_add') }}">Signaler une indisponibilité</a></li>
            </ul>
          </div>
          <div class="col-md-9">
              <div class="notifications-block">
                <div class="notifications-header">Signaler une indisponibilité</div>
                <div class="notifications-content">
                    
                    {% include 'LGPUserBundle:Indisponibilite:formulaire.html.twig' %}
                </div>
              </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}