<!-- Progress bar step -->
<div class="progress-line"></div>
<div class="progress-step">
    <div class="step-block {% if app.request.attributes.get('_route') == 'lgp_reservation_cart' %}active{% endif %}">
        <a href="#" class="step">1</a><br>
        <label class="step-label">Recapitulatif commande</label>
    </div>
    <div class="step-block {% if app.request.attributes.get('_route') == 'lgp_reservation_paiement' %}active{% endif %}">
        <a href="#" class="step">2</a><br>
        <label class="step-label">Paiement</label>
    </div>
    <div class="step-block {% if app.request.attributes.get('_route') == 'lgp_reservation_confirm_page' %}active{% endif %}">
        <a href="#" class="step">3</a><br>
        <label class="step-label">Confirmation</label>
    </div>
</div>
<!-- end bar -->

