
{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    mode de paiment  - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="well">
                    <h1>Etape 2 : Choix du mode de paiement </h1>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		
        	</div>
        </div>
    </div>
{% endblock %}
