{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Confirmation du numéro de téléphone
{% endblock title %}

{% block body %}
  <h1>Veuillez entrer le code que vous avez reçu !</h1>
  <p>
    {{ telephone }}
  </p>
{% endblock body %}