{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="bg-grey">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2"><div style="padding-bottom:100px;padding-top:100px"><p class="text-center alert-success" style="padding:20px;">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% endif %}
{% endblock fos_user_content %}
