{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    Inscription Prof, étape 1 - {{ parent() }}
{% endblock %}


{% block body %}

    <!-- start end Page title -->
    <div class="page-title" style="background-image:url('{{ asset('images/hero-header/breadcrumb.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <h1 class="hero-title">Qui êtes vous ?</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- end Page title -->
    <div class="bg-grey">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% include 'LGPUserBundle:Registration:etapes.html.twig' %}
                    </div>
                    <div class="col-md-9">
                        <div class="notifications-block">
                            <div class="notifications-content">
                                <div class="row">
                                    <div class="col-md-2">Photo de profil</div>
                                    <div class="col-md-4"><input type='file'></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-2">Ville</div>
                                    <div class="col-md-4">
                                        <select class='form-control'>
                                            <option>Douala</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-2">Profession</div>
                                    <div class="col-md-4">
                                        <select class='form-control'>
                                            <option>Douala</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-2">Présentation</div>
                                    <div class="col-md-4"><textarea class='form-control'></textarea></div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <br>
                        <button class=' btn btn-primary pull-right'>Suivant</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            alert("Hello");
        });
    </script>

{% endblock javascripts %}