{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Inscription Prof, étape 3 - {{ parent() }}
{% endblock %}


{% block body %}

    <!-- start end Page title -->
    <div class="page-title" style="background-image:url('{{ asset('images/hero-header/breadcrumb.jpg') }}');">

        <div class="container">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <h1 class="hero-title">Où donnez-vous cours ?</h1>
                </div>
            </div>

        </div>

    </div>
    <!-- end Page title -->
  <div class="bg-grey">
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            
        {% include 'LGPUserBundle:Registration:etapes.html.twig' %}
            
        </div>

        <div class="col-md-9">
            
        <div class="notifications-block">
          <div class="notifications-content">
            <table class="table">
                    <thead>
                      <tr>
                        <th>Quartier</th>
                        <th>Ville</th>
                        <th><button class='btn btn-primary btn-sm'>Ajouter</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
            </table><br>
            <div class='row'>
                <form id="form_quartier">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="quartier_ville">Ville</label>
                          <select name="quartier_ville" class="form-control input-sm" id="quartier_ville">
                            <option value="">--</option>
                            <option value="Douala">Douala</option>
                            <option value="Yaounde">Yaoundé</option>
                            <option value="Bamenda">Bamenda</option>
                            <option value="Buea">Buéa</option>
                            <option value="Dschang">Dschang</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="quartier_intitule">Quartier</label>
                          <select name="quartier_intitule" class="form-control input-sm" id="quartier_intitule">
                            <option value="">--</option>
                          </select>
                          <span class="ajax_loader"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <br>
                        <input class="btn btn-primary btn-sm" type="submit" value="Enregistrer">
                        <span id="save_quartier_loader"></span>
                        <div class="text-danger" id="error_quartier"></div>
                      </div>
                </form>
            </div>
          </div>
        </div>
            <br><button class=' btn btn-primary pull-right'>Terminer</button>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}