{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ app.user.prenoms }} {{ app.user.nom }} - Edit profile - {{ parent() }}
{% endblock %}

{% block header_submenu %} 
    {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block fos_user_content %}
    <div class="bg-grey dashboard">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
